.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.search-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
}

.search-bar input:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
    outline: none;
}

.search-btn button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #D69C00;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn button:hover {
    opacity: 0.8;
}

.feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    border-radius: 10px;
}

.feed-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.feed-item:hover {
    transform: translateY(-5px);
}

.feed-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.feed-item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.feed-item p {
    font-size: 14px;
    color: #666;
}
