/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px 20px;
    height: 100px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100vb;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #333;
  }
  
  .nav-item .icon {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-item .icon-add {
    width: 80px;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px; /* Ger den centrerade cirkeln högre position */
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */
  /* } */