.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0;
  padding: 10px 20px;
  height: 100px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  margin-top: 20px;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #333;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
}

.navItem .navIcon {
  width: 60px;
  height: 60px;
  /* background-color: white; */
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.plusButton {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border: none;
  position: relative;
  top: -50px; /* Lyft upp '+'-knappen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
