/* Mobilversionen används för alla skärmar */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Sätt en fast max-bredd så att den ser ut som på mobilen */
  width: 100%; /* Hela bredden på skärmen */
  box-sizing: border-box;
}

.loginUserContainer,
.loginPasswordContainer {
  margin: 10px 0;
  width: 100%;
}

.loginUserInput,
.loginPasswordInput,
.emailInput {
  width: 100%;
  padding: 12px;
  max-width: 400px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.loginNextButtonContainer {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.loginNextButton,
.loginBtnEmail, 
.loginBtnApple, 
.loginBtnGoogle {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #aeaeae;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginNextButton:hover {
  background-color: #6b6b6b;
}

form {
  width: 100%;
}

/* Specifika knappar */
.loginBtnGoogle, 
.loginBtnApple, 
.loginBtnEmail {
  background-color: #aeaeae;
  color: white;
}

/* Hover-effekter för knappar */
.loginBtnGoogle:hover,
.loginBtnApple:hover,
.loginBtnEmail:hover {
  opacity: 0.9;
}

/* Förhindra att layouten ändras på större skärmar */
.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  max-width: 400px; /* Sätt en fast max-bredd även här */
  width: 100%;
  box-sizing: border-box;
}

.loginBtnEmailContainer,
.loginBtnAppleContainer,
.loginBtnGoogleContainer {
  width: 100%;
  margin: 10px 0;
}

.loginBtnEmail, 
.loginBtnApple, 
.loginBtnGoogle {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  max-width: 400px;
}
