.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginUserContainer,
  .loginPasswordContainer {
    margin: 10px 0;
    width: 100%;
  }
  
  .loginUserInput,
  .loginPasswordInput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .loginNextButtonContainer {
    margin-top: 20px;
    width: 100%;
  }
  
  .loginNextButton {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginNextButton:hover {
    background-color: #0056b3;
  }
  
  form {
    width: 100%;
  }
  
  /* För mindre skärmar */
  @media (max-width: 600px) {
    .loginContainer {
      width: 100%;
      padding: 15px;
    }
  
    .loginNextButton {
      padding: 10px;
    }
  
    .loginUserInput,
    .loginPasswordInput {
      padding: 10px;
    }
  }
  